<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CROW</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
          <h1>Welcome to Compass!</h1>
          <p>Your article scaler</p>
        </div>
      </div>
    <div class="container">
      <div class="row">




          <!-- handlebars template -->
          <script id="article-template" type="text/x-handlebars-template">
            {{#each article}}
            <hr>
            <p>
              <b>{{articleUrl}}</b>
                {{title}}
              <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
            </p>
            {{/each}}
          </script>
      </div>
    </div>
  </body>
</html>
