<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Elephants in the Room</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
</head>
<body>

  <div id="nav">
  <div class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="80">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a href="#" class="navbar-brand">Brand</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-bar"></span>
        <span class="glyphicon glyphicon-bar"></span>
        <span class="glyphicon glyphicon-bar"></span>
      </a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Major Issues and Current Events</a></li>
          <li><a href="#">Connection</a></li>
          <li><a href="#">Cultire</a></li>
          <li><a href="#">Communication</a></li>
        </ul>
        <ul class="nav pull-right navbar-nav">
          <li>
           <a href="#">Link</a>
          </li>
          <li>
            <a href="#"><span class="badge">2</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->


    <!-- ///////////// JUMBO TRON STart//////// -->
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Elephant in the Room </h1>
            <h5>: an <strong>obvious major problem</strong> or issue that people avoid discussing or acknowledging</h5>
        </div>
    </div>
    <p> <a class="btn btn-default page-scroll" href="#about">Big Elephants</a></p>
    <!-- /////jumbo tron end ////// -->


    <!-- //////// carousel start ///////  -->

    <div class="container-carousel">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
          <script id="articles-template" type="text/x-handlebars-template">

              <div class="item active">
                  <img src="http://placehold.it/760x400/cccccc/ffffff">
                  <div class="carousel-caption">
                      <h4><a href="#">TEST</a></h4>
                      <p>{{articleUrl}}</p>
                  </div>
              </div>
              <!-- End Item -->

              <div class="item">
                  <img src="{{imageUrl}}">
                  <div class="carousel-caption">
                      <h4><a href="#">{{title}}</a></h4>
                      <p> {{description}}</p>
                  </div>
              </div>
              <!-- End Item -->

              <div class="item">
                  <img src="{{imageUrl}}">
                  <div class="carousel-caption">
                      <h4><a href="#">{{title}}</a></h4>
                      <p>{{description}}<a class="label label-primary" href="{{articleUrl}}" target="_blank">{{title}}</a></p>
                  </div>
              </div>
              <!-- End Item -->

              <div class="item">
                  <img src="{{imageUrl}}">
                  <div class="carousel-caption">
                      <h4><a href="#">{{title}}</a></h4>
                      <p>{{description}}<a class="label label-primary" href="{{articleUrl}}" target="_blank">{{title}}</a></p>
                  </div>
              </div>
              <!-- End Item -->

              <div class="item">
                  <img src="{{imageUrl}}">
                  <div class="carousel-caption">
                      <h4><a href="#">{{title}}</a></h4>
                      <p>{{description}}<a class="label label-primary" href="{{articleUrl}}" target="_blank">{{title}}</a></p>
                  </div>
              </div>
              <!-- End Item -->

          </div>
          <!-- End Carousel Inner -->
          </script>


          <ul class="list-group col-sm-4">
            <script id="title-template" type="text/x-handlebars-template">

              <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active">
                  <p>{{title}}</p></li>
              <!-- <li data-target="#myCarousel" data-slide-to="1" class="list-group-item">
                  <p></p></li>
              <li data-target="#myCarousel" data-slide-to="2" class="list-group-item">
                  <p></p></li>
              <li data-target="#myCarousel" data-slide-to="3" class="list-group-item">
                  <p></p></li>
              <li data-target="#myCarousel" data-slide-to="4" class="list-group-item">
                  <p></p></li> -->
            </script>

          </ul>

          <!-- Controls -->
          <div class="carousel-controls">
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>

      </div>
      <!-- End Carousel -->


    </div>
    <!-- //////////end carousel  -->


    <!-- /////form with jaquery  -->

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Email
                            </th>
                            <th class="text-center">
                                Notes
                            </th>
                            <th class="text-center">
                                Option
                            </th>
                            <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='addr0' data-id="0" class="hidden">
                            <td data-name="name">
                                <input type="text" name='name0' placeholder='Name' class="form-control" />
                            </td>
                            <td data-name="mail">
                                <input type="text" name='mail0' placeholder='Email' class="form-control" />
                            </td>
                            <td data-name="desc">
                                <textarea name="desc0" placeholder="Description" class="form-control"></textarea>
                            </td>
                            <td data-name="sel">
                                <select name="sel0">
                                    <option value "">Select Option</option>
                                    <option value "1">Option 1</option>
                                    <option value "2">Option 2</option>
                                    <option value "3">Option 3</option>
                                </select>
                            </td>
                            <td data-name="del">
                                <button nam "del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a id="add_row" class="btn btn-default pull-right">Add Row</a>
    </div>

    <!-- /////// end form with jaquery  -->

</body>

</html>
